<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name="com.vslot.app.debug.QaResultDialogActivity"
            android:exported="true"
            android:permission="android.permission.DUMP" />

        <receiver
            android:name="com.vslot.app.debug.QaStateReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.vslot.app.debug.QA_STATE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
